<config program="Example">
<section title="Main">
<number>5</number>
<compression>true</compression>
<interval>52</interval>
<forwardgo>true</forwardgo>
</section>

<section title="keys">
<main>7439hrwe7ru239ry98yr293f398f2399uuv2jf2hr092fh03jk092u90d2uf3092u30</main>
<key_hzl>4r89few98euwf9u923ef923hf923ew9gh298ehg923he9g34hrt98gure9tgurg0v03gujf93jr0g34h08h3rjg43</key_hzl>
</section>
</config>
